.mNav {
display: flex;
justify-content: space-evenly;
background-color: rgb(136, 136, 136);
width: 100%;
position: relative;
}

input {
    align-self: center;
    padding: 8px;
    flex: 0.15;
}

h1 {
    color: white;
    font-size: 40px;
    white-space: nowrap;
    font-family: "Toppan Bunkyu Midashi Gothic Extrabold"
    }

@font-face {
    font-family: ToppanGothic;
    src: url(../fonts/toppangros.ttf);
}

.nImg {
    width: 20%;
}

.jImg {
    padding: 2%;
    width: 30%;
}


main {
    padding: 2.5%;
}
/* Container for flexboxes */
.ndiv {
    display: flex;
}

.jDiv {
    display: flex;
    align-items: center;
    background-color: rgb(38, 87, 130);
    padding: 15px;
    margin-top: 1%;
}

.jBody{
    background-color: rgb(6, 30, 53);
    color: rgb(151, 208, 243);
}

.ndiv {
    margin-bottom: 1%;
}

.nBody {
    background-color: rgb(23, 83, 115);
}

.nsection {
    flex: 3;
    background-color: rgb(49, 167, 175);
    padding: 10px;
}

.dcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: rgb(80, 80, 80);
    color: black;
    border-radius: 10px; 
    padding: 20px;
}

.H1D{
    font-family: Toppan;
    font-size: 60px;

}

.dcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px
}

.dcontent {
    text-align: left;
    margin-left: 20px;
}

.imgD {
    width: 800px;
    height: 550px;
}

.box2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(78, 76, 76, 0.423); 
    display: flex;
    background-color: lightgray;
}

.H2D{
    font-family: toppan;
    font-size: 40px;

}

.FließtextD{
    font-family: ltCushion;
    column-count: 2;
    column-gap: 20px;
    font-size: 20px;

}

.Mbody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Mheader {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.Mh1 {
    font-size: 2em;
    font-weight: bold;
}

.Mimg {
    width: 30%; 
    height: auto;
    
}

.Mdiv{
    display: flex;
    padding-top: 2%;

}

.Mdiv2{
    background-color: #424141;
    padding: 20px;
    margin: 20px;
}
    
